:root {
  /* Google Fonts */
  @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

  /* Primary Colors */
  --primary-100: hsl(7, 99%, 70%);
  --primary-200: hsl(51, 100%, 49%);
  --primary-300: hsl(167, 40%, 24%);
  --primary-400: hsl(198, 62%, 26%);
  --primary-500: hsl(168, 34%, 41%);

  /* Nuetral Colors */
  --neutral-100: hsl(212, 27%, 19%);
  --neutral-200: hsl(213, 9%, 39%);
  --neutral-300: hsl(232, 10%, 55%);
  --neutral-400: hsl(210, 4%, 67%);
  --neutral-000: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;

  /* Example of using variables */
  background-color: var(--neutral-000);
}
header {
  background: url(./sunnyside-agency-landing-page-main/images/mobile/image-header.jpg)
    no-repeat center / cover;
  /* background-size: 100%; */

  height: 100%;
}

h2,
h3 {
  color: var(--neutral-100);
}
p {
  color: var(--neutral-200);
}
h1 {
  font-weight: 900;
  font-size: 2em;
  width: 9ch;
  text-align: center;
  color: var(--neutral-000);
  text-transform: uppercase;
}
.creatives {
  position: relative;
}

.creatives {
  margin: auto;
  padding-block: 3em 5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creatives img {
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
nav img {
  height: max-content;
}

.navUl a {
  display: none;
}
.navUl a.icon {
  display: block;
}

.navUl.responsive {
  position: absolute;
  top: 100px;
  left: 50%;
  background: var(--neutral-000);
  color: var(--neutral-400);
  transform: translateX(-50%);
  padding: 2em 4em;
  z-index: 3;
}
a.icon {
  position: relative;
  right: 0;
  top: 0;
}
.navUl.responsive a {
  display: block;
  text-align: left;
  padding: 1em;
}

.navUl.responsive li:last-child {
  background-color: var(--primary-200);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10em;
  color: var(--primary-300);
}
main img {
  width: 100%;
}
#learn-more-yellow {
  font-weight: 800;
  color: var(--neutral-100);

  background: linear-gradient(#fff0 50%, var(--primary-200));
}
#learn-more-pink {
  font-weight: 800;
  color: var(--neutral-100);
  margin-bottom: 1em;
  background: linear-gradient(#fff0 50%, var(--primary-100));
}
section {
  padding-bottom: 2em;
}
.learn-more-div-yellow {
  padding-bottom: 2em;
}
.graphic div:first-child {
  background: url(./sunnyside-agency-landing-page-main/images/mobile/image-graphic-design.jpg);
  background-size: cover;
  height: 100%;
}
.graphic div:nth-child(2) {
  background: url(./sunnyside-agency-landing-page-main/images/mobile/image-photography.jpg)
    no-repeat center;
  background-size: cover;
  height: 100%;
}
.graphic div h2 {
  padding-block: 14em 1em;
  margin: 0;
}
.graphic div p {
  padding-bottom: 2em;
  margin: 0;
}
h3 {
  color: var(--neutral-400);
  text-transform: uppercase;
  font-weight: 900;
}
.testimonials {
  padding: 0;
}
.testimonials img {
  border-radius: 100%;
  width: 20%;
  padding: 2em;
  margin-top: 1em;
}
.testimonials p {
  padding-inline: 2em;
}
h5 {
  color: var(--neutral-400);
  font-family: sans-serif;
  font-size: small;
  font-weight: 600;
}
.image-group,
.image-group img {
  border-radius: unset;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: var(--primary-500);
  padding: 1em;
}
footer nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
}
footer svg {
  fill: var(--primary-300);
}

@media only screen and (min-width: 600px) {
  .navUl a {
    display: block;
  }
  .navUl {
    display: flex;
    gap: 1em;
    margin-left: auto;
  }
  nav a.icon {
    display: none;
  }
  header {
    background: url(./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg)
      no-repeat center / cover;
    /* background-size: 100%; */

    height: 100%;
  }
  .transform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .text-area-1 {
    order: -1;
  }
  .text-area-1,
  .text-area-2 {
    display: grid;
    align-items: center;
    text-align: left;
    padding: 4em;
  }
  .graphic div:first-child {
    background: url(./sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
    background-size: cover;
    height: 100%;
  }
  .graphic div:nth-child(2) {
    background: url(./sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg)
      no-repeat center;
    background-size: cover;
    height: 100%;
  }
  .graphic {
    padding: 0;
    margin: 0;
    display: flex;
  }

  .graphic  div {
  
    flex-basis: 50%;
  }
  .testimonials {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
  h3 {
    grid-column: 1 / span 3;
  }

  .image-group {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  footer nav ul {
    justify-content: space-evenly;
    padding: 2em;
  }
  footer ul {
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 2em;
  }
}

/* .navUl .icon {
  display: none;
} */
